.body {
  background: no-repeat url(../img/background.jpg);
  background-size: cover;
  width: 100%;
  max-width: 1920px;
}

.card-right__subtitle {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
  font-family: 'Roboto';
}

.card-right__subtitle {
  font-size: 32px;
}

@media (max-width: 992px) {
  .card-right__subtitle {
    font-size: 24px;
  }
}

@media (max-width: 540px) {
  .card-right__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
}