.card {
  display: flex;
  gap: 70px;
}

.card-left {
  position: relative;
}

.card-left__img {
  height: 1080px;
  width: 638px;
}

.card-left__text {
  display: block;
  position: absolute;
  bottom: 3px;
  font-size: 64px;
  font-weight: 400;
  padding: 14px 96px;
  color: white;
  background-color: black;
  font-family: 'Roboto';
}

.card-right {
  margin-top: 100px;
}

.card-right__title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: 'Roboto';
}

.card-right__text {
  display: block;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto';
}

.card-right__links {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.card-right__list {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}

.card-right__item {
  background-color: #414141;
  color: white;
  font-size: 32px;
  font-weight: 500;
  padding: 14px 55px;
  border-radius: 45px;
  font-family: 'Roboto';
}

.card-right__desc {
  font-size: 32px;
  font-weight: 500;
  width: 90%;
  font-family: 'Roboto';
  letter-spacing: 1px;
  text-indent: 20px;
}

.card-right__desc:nth-child(2) {
  margin-bottom: 20px;
}

.card-right__desc:nth-child(3) {
  margin-bottom: 50px;
}

.form-wrapper {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.form-wrapper__feedback {
  border: 1px solid black;
  border-radius: 11px;
  padding: 14px 0 14px 16px;
  margin-right: 25px;
  font-size: 24px;
}

.form-wrapper__feedback:nth-child(2) {
  padding-right: 56px;
}

.form__button {
  font-size: 32px;
  font-weight: 500;
  color: white;
  background-color: black;
  padding: 14px 207px;
  border-radius: 11px;
  font-family: 'Roboto';
  border: none;
}

.form__button:hover {
  background-color: #414141;
  cursor: pointer;
}

.form-wrapper__feedback::placeholder {
  color: black;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Roboto';
}

@media (max-width: 992px) {

  .card {
    gap: 40px;
  }

  .card-left__img {
    height: 658px;
    width: 372px;
  }

  .card-left__text {
    font-size: 36px;
    padding: 12px 61px;
    bottom: 40px;
  }

  .card-right {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .card-right__title {
    font-size: 32px;
  }

  .card-right__text {
    font-size: 20px;
    margin-right: 30px;
  }

  .card-right__links {
    margin-bottom: 30px;
  }

  .card-right__list {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
  }

  .card-right__item {
    font-size: 24px;
    padding: 10px 45px;
  }

  .card-right__desc {
    font-size: 20px;
    margin-bottom: 20px;
    text-indent: 10px;
  }

  .card-right__desc:nth-child(3) {
    width: 100%;
  }

  .form-wrapper__feedback {
    font-size: 20px;
    padding: 10px 0 10px 16px;
  }

  .form-wrapper__feedback:nth-child(2) {
    padding-right: 0;
  }

  .card-right__desc:nth-child(3) {
    margin-bottom: 20px;
  }

  .form-wrapper__feedback::placeholder {
    font-size: 20px;
  }

  .form__button {
    font-size: 24px;
    padding: 10px 164px;
    border: none;
  }

}

@media (max-width: 540px) {
   .card {
    display: block;
    margin: auto 75px;

  }

   .card-left__img {
    height: 689px;
    width: 390px;
  }

  .card-left__text {
    font-size: 24px;
    padding: 12px 112px;
    bottom: 0;
  }

  .card-right__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .card-right__text {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .card-right__links {
    margin-bottom: 16px;
  }

  .card-right__list {
    margin-bottom: 16px;
  }

  .card-right__item {
    font-size: 16px;
    padding: 8px 35px;
  }

  .card-right__desc {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .form-wrapper {
    margin-bottom: 16px;
  }

  .form-wrapper__feedback {
    font-size: 14px;
    margin-right: 20px;
  }

  .form-wrapper__feedback::placeholder {
    font-size: 16px;
  }

  .form__button {
    font-size: 16px;
    width: 408px;
    height: 40px;
    padding: 0;
  }
}